<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section class="data">
    <!-- habbits list, and post form -->
    <div>
      <% if(habits.length) {%>
        <% habits.forEach(habit => { %>
          <form action="/specis/<%= fishData._id %>/<%= habit._id %>" method="POST">
            <button type="submit"><%= habit.name %></button>
          </form>
        <% }) %>
      <% } %> 
    </div>
    <!-- fishData -->
    <div class="card" style="width: 18rem;">
      <img src="<%= fishData.avatar %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= fishData.name %></h5>
        <p class="card-text"><%= fishData.content %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <% if(fishData.habits.length) {%>
            <% fishData.habits.forEach(habit => { %>
              <form action="/specis/<%= fishData._id %>/<%= habit._id %>?_method=DELETE" method="POST">
                <button type="submit"><%= habit.name %></button>
              </form>
            <% }) %>
          <% } %>
        </li>
        <li class="list-group-item">Keeper: <%= fishData.keeperLength %> </li>
        <li class="list-group-item">Season Start: <%= fishData.seasonStartDate.toJSON().slice(0, 10) %></li>
        <li class="list-group-item">End: <%= fishData.seasonEndDate.toJSON().slice(0, 10) %></li>
      </ul>
      <div class="card-body">
        <a href="/specis/"><button>Go Back</button></a>
        <form 
          action="/specis/<%= fishData._id %>?_method=DELETE" 
          method="POST"
        >
          <button>Delete</button>
        </form>
      </div>
    </div>
    <div>
      <form action="/specis/<%= fishData._id %>/?_method=PUT" method="POST" id="edit-form">
        <label for="specis-name">Name:</label>
        <input type="text" name="name" id="specis-name" value="<%= fishData.name %>">
        <label for="specis-avatar">AvatarURL:</label>
        <input type="text" name="avatar" id="specis-avatar" value="<%= fishData.avatar %>">
        <label for="specis-keeper">Keeper Length:</label>
        <input type="text" name="keeperLength" id="specis-keeper" value="<%= fishData.keeperLength %>">
        <label for="specis-seasonS">Season Start:</label>
        <input type="date" name="seasonStartDate" id="specis-seasonS" value="<%= fishData.seasonStartDate.toJSON().slice(0, 10) %>">
        <label for="specis-seasonE">Season End:</label>
        <input type="date" name="seasonEndDate" id="specis-seasonE" value="<%= fishData.seasonEndDate.toJSON().slice(0, 10) %>">
        <label for="specis-content">Content:</label>
      <textarea name="content" id="specis-content" cols="30" rows="10"><%= fishData.content %></textarea>
        <button type="submit">Update</button>
      </form>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>