<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section class="fish-data">
  <% if(specis.length) {%>
    <% specis.forEach(fishData => { %>
      <div class="card" style="width: 18rem;">
        <img src="<%= fishData.avatar %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= fishData.name %></h5>
          <p class="card-text"><%= fishData.content %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <% if(fishData.habits.length) {%>
              <% fishData.habits.forEach(habit => { %>
                  <button><%= habit.name %></button>
                </form>
              <% }) %>
            <% } %>
          </li>
          <li class="list-group-item">Keeper: <%= fishData.keeperLength %> </li>
          <li class="list-group-item">Season Start: <%= fishData.seasonStartDate.toJSON().slice(0, 10) %></li>
          <li class="list-group-item">End: <%= fishData.seasonEndDate.toJSON().slice(0, 10) %></li>
        </ul>
      </div>
    <% }) %>
  <% } %>
  </section>
</main>

<%- include('../partials/footer') %>