<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
    <h1>Welcome!</h1>
    <section class="data">
      <div class="card" style="width: 18rem;">
        <img src="<%= user.profile.avatar %>" class="card-img-top" alt="<%= user.profile.name %> avatar">
        <div class="card-body">
          <h5 class="card-title"><%= user.profile.name %></h5>
          <a href="/users/mypage"><button>My Page</button></a>
          <a href="/users"><button>All Users</button></a>
          <a href="/fish"><button>Fish Caught</button></a>
          <a href="/species"><button>Fish Data</button></a>
        </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
