<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Update Information</h1>
  <section class="data">
    <div class="card" style="width: 18rem;">
      <img src="<%= profile.avatar %>" class="card-img-top" alt="<%= profile.name %> avatar">
      <div class="card-body">
        <h5 class="card-title"><%= profile.name %></h5>
        <p class="card-text">Mood: <%= profile.mood %></p>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Update</button>
        <div class="dropdown-content">
          <form action="/users/<%= user._id %>/updateUser?_method=PUT" method="POST" id="edit-form">
            <label for="user-name">Name:</label>
            <input type="text" name="name" id="user-name" value="<%= profile.name %>">
            <label for="user-avatar">AvatarURL:</label>
            <textarea name="avatar" id="user-avatar" cols="30" rows="5"><%= profile.avatar %></textarea>
            <label for="user-mood">Mood: </label>
          <textarea name="mood" id="user-mood" cols="30" rows="5"><%= profile.mood %></textarea>
            <button type="submit">Update</button>
          </form>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <div class="dropdown">
          <button class="dropbtn">Friends</button>
          <div class="dropdown-content">
            <% if(profile.friends?.length) {%>
              <% profile.friends.forEach(friend => { %>
                <div class="dropdown1">
                  <button class="dropbtn1"><%= friend.name %></button>
                  <div class="dropdown-content1"> 
                    <form action="/users/<%= friend._id %>/deleteFriend?_method=DELETE" method="POST">
                      <button style="color: red;">Delete</button>
                    </form>
                </div>
              </div>
              <% }) %>
            <% } else { %>
              You are alone!
            <% } %> 
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Fish</button>
          <div class="dropdown-content"> 
            <% if(profile.fishing?.length) {%>
              <% profile.fishing.forEach(fish => { %>
                <div class="dropdown1">
                  <button class="dropbtn1"><%= fish.length %>" <%= fish.name %> on <%= fish.caughtDate.toISOString().slice(0, 10) %></button>
                  <div class="dropdown-content1">
                    <form action="/fish/<%= fish._id %>?_method=DELETE" method="POST">
                      <button style="color: red;">Delete</button>
                    </form>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              You caught none!
            <% } %>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Messages</button>
          <div class="dropdown-content">
            <% if(profile.comments?.length) {%>
              <% profile.comments.forEach(comment => { %>
                <% if(!comment.sender.equals(profile._id) && comment.to === profile.name) { %>
                  <div class="dropdown1">
                    <button class="dropbtn1">
                      <%= comment.from %>: 
                      <%= comment.content %>
                    </button>
                    <div class="dropdown-content1">
                      <form action="/users/<%= comment._id %>/deleteMessage?_method=DELETE" method="POST">
                        <button style="color: red;">Delete</button>
                      </form>
                    </div>
                  </div>
                <% } %>
              <% }) %>
            <% } %>
          </div>
        </div>
      </ul>
      <div class="card-body">
        <a href="/users/mypage"><button>Back</button></a>
        <form 
          action="/users/<%= user._id %>/u?_method=DELETE" 
          method="POST"
        >
          <button style="color: red;">Delete Account!</button>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>