<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Update Information</h1>
  <section class="data">
    <div class="card" style="width: 20rem;">
      <img src="<%= profile.avatar %>" class="card-img-top" alt="<%= profile.name %> avatar">
      <div class="card-body">
        <h5 class="card-title"><%= profile.name %></h5>
        <p class="card-text">Mood:<%= profile.mood %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Friends:
          <% if(profile.friends?.length) {%>
            <% profile.friends.forEach(friend => { %>
              <form action="/users/<%= friend._id %>/deleteFriend?_method=DELETE" method="POST">
                <button type="submit"><%= friend.name %></button>
              </form>
            <% }) %>
          <% } else { %>
            You are alone!
          <% } %> 
        </li>
        <li class="list-group-item">Fishing: 
          <% if(profile.fishing?.length) {%>
            <% profile.fishing.forEach(fish => { %>
              <form action="/fish/<%= fish._id %>?_method=DELETE" method="POST">
                <button type="submit"><%= fish.name %></button>
              </form>
            <% }) %>
          <% } else { %>
            You caught none!
          <% } %>
        </li>
        <li class="list-group-item">Messages: 
          <% if(profile.comments?.length) {%>
            <% profile.comments.forEach(comment => { %>
              <% if(comment.from !== profile.name) { %>
                <form action="/users/<%= comment._id %>/deleteComment?_method=DELETE" method="POST">
                  <button type="submit">
                    <p>
                      <%= comment.from %>: 
                      <%= comment.content %> 
                    </p>
                  </button>
                </form>
              <% } %>
            <% }) %>
          <% } %>
        </li>
      </ul>
      <div class="card-body">
        <a href="/users/mypage"><button>Back</button></a>
        <form 
          action="/users/<%= user._id %>/u?_method=DELETE" 
          method="POST"
        >
          <button>Delete</button>
        </form>
      </div>
    </div>
    <div>
      <form action="/users/<%= user._id %>/updateUser?_method=PUT" method="POST" id="edit-form">
        <label for="user-name">Name:</label>
        <input type="text" name="name" id="user-name" value="<%= profile.name %>">
        <label for="user-avatar">AvatarURL:</label>
        <textarea name="avatar" id="user-avatar" cols="30" rows="5"><%= profile.avatar %></textarea>
        <label for="user-mood">Mood:</label>
      <textarea name="mood" id="user-mood" cols="30" rows="5"><%= profile.mood %></textarea>
        <button type="submit">Update</button>
      </form>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>