<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if(users?.length) { %>
    <section class="data">
      <% users.forEach(otherUser => { %>
          <section >
            <div class="card" style="width: 18rem;">
              <img src="<%= otherUser.profile.avatar %>" class="card-img-top" alt="<%= otherUser.profile.name %> avatar">
              <div class="card-body">
                <h5 class="card-title"><%= otherUser.profile.name %></h5>
                <p class="card-text">Mood:<%= otherUser.profile.mood %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Fishing: 
                  <% if(otherUser.profile.fishing?.length) {%>
                    <% otherUser.profile.fishing.forEach(fish => { %>
                        <button><%= fish.name %></button>
                    <% }) %>
                  <% } else { %>
                    You caught none!
                  <% } %>
                </li>
              </ul>
              <% if(myProfile.friends.length) {%>
                  <% for(let i = 0; i< myProfile.friends.length; i++) { %>
                    <% if(myProfile.friends[i].equals(otherUser.profile._id)) {%>
                      <div class="card-body">
                        <button>My Friend</button>
                      </div> 
                    <% break} %>
                    <% if(i === (myProfile.friends.length -1)) {%>
                      <div class="card-body">
                        <form 
                          action="/users/<%= otherUser.profile._id %>/addFriend" 
                          method="POST"
                        >
                          <button>Add Friend</button>
                        </form>
                      </div>
                    <% } %>  
                  <% } %>
                <% } else { %>
                    <div class="card-body">
                      <form 
                        action="/users/<%= otherUser.profile._id %>/addFriend" 
                        method="POST"
                      >
                        <button>Add Friend</button>
                      </form>
                    </div>
                <% } %>  
              <div>
                <form 
                  action="/users/<%= otherUser.profile._id %>/sendMessage" 
                  method="POST"
                >
                  <textarea name="content" id="" cols="30" rows="2"></textarea>
                  <button type="submit">Send Message</button>
                </form>
              </div>
            </div>
          </section> 
      <% }) %>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>

