<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section class="data">
    <% if(species.length) {%>
      <% species.forEach(fishData => { %>
        <div class="card" style="width: 18rem;">
          <img src="<%= fishData.avatar %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= fishData.name %></h5>
            <p class="card-text"><%= fishData.content %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <% if(fishData.habits.length) {%>
                <% fishData.habits.forEach(habit => { %>
                    <button><%= habit.name %></button>
                  </form>
                <% }) %>
              <% } %>
            </li>
            <li class="list-group-item">Keeper: <%= fishData.keeperLength %> </li>
            <li class="list-group-item">Season Start: <%= fishData.seasonStartDate.toJSON().slice(0, 10) %></li>
            <li class="list-group-item">End: <%= fishData.seasonEndDate.toJSON().slice(0, 10) %></li>
          </ul>
          <div class="card-body">
            <a href="/species/<%= fishData._id %>/edit"><button>Edit</button></a>
            <form 
              action="/species/<%= fishData._id %>?_method=DELETE" 
              method="POST"
            >
              <button>Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } %>
    <form action="/species/new" method="POST" id="edit-form">
      <label for="species-name">Name:</label>
      <input type="text" name="name" id="species-name">
      <label for="species-avatar">AvatarURL:</label>
      <textarea name="avatar" id="species-avatar" cols="30" rows="5"></textarea>
      <label for="species-keeper">Keeper Length:</label>
      <input type="text" name="keeperLength" id="species-keeper">
      <label for="species-seasonS">Season Start:</label>
      <input type="date" name="seasonStartDate" id="species-seasonS">
      <label for="species-seasonE">Season End:</label>
      <input type="date" name="seasonEndDate" id="species-seasonE">
      <label for="species-content">Content:</label>
      <textarea name="content" id="species-content" cols="30" rows="10"></textarea>
      <button type="submit">Add Data</button>
    </form>
  </section>
  <section class="data">
    <% if(habits.length) {%>
      <% habits.forEach(habit => { %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= habit.name %></h5>
            <p class="card-text"><%= habit.content %></p>
          </div>
          <div class="card-body">
            <a href="/users/<%= habit._id %>/editH"><button>Edit</button></a>
            <form 
              action="/users/<%= habit._id %>/h?_method=DELETE" 
              method="POST"
            >
              <button>Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } %>
    <div>
      <h3>Add New Habit</h3>
      <form action="/users/habits" method="Post" id="edit-form">
        <label for="habit-name">Name: </label>
        <input type="text" name="name" id="habit-name">
        <label for="habit-content">Content: </label>
        <textarea name="content" id="habit-content" cols="30" rows="5"></textarea>
        <button type="submit">Add Habit</button>
      </form>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>