<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="data">
    <div class="card" style="width: 18rem;">
      <img src="<%= friend.avatar %>" class="card-img-top" alt="<%= friend.name %> avatar">
      <div class="card-body">
        <h5 class="card-title"><%= friend.name %></h5>
        <p class="card-text">Mood: <%= friend.mood %></p>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Fish</button>
        <div class="dropdown-content">
          <% if(friend.fishing?.length) {%>
            <% friend.fishing.forEach(fish => { %>
              <a href="/users/<%= fish._id %>/afish">
                <button>
                  <%= fish.length %>" <%= fish.name %> on <%= fish.caughtDate.toISOString().slice(0, 10) %>
                </button>
              </a>
            <% }) %>
          <% } else { %>
            You caught none!
          <% } %>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Messages</button>
        <div class="dropdown-content">
          <% if(myProfile.comments?.length) {%>
            <% myProfile.comments.forEach(comment => { %>
              <% if(comment.receiver.equals(friend._id) && comment.sender.equals(myProfile._id) || comment.receiver.equals(myProfile._id) && comment.sender.equals(friend._id)) { %>
                <div class="dropdown1">
                  <button class="dropbtn1"><%= comment.sender.equals(myProfile._id) ? "You" : comment.from %>: 
                    <%= comment.content %></button>
                  <div class="dropdown-content1">
                    <p><button>
                      <%= comment.createdAt.toISOString().slice(0, 16).replace("T"," ") %>  
                    </button></p>
                  </div>
                </div>
              <% } %>  
            <% }) %>
          <% } %> 
        </div>
      </div>
      <div>
        <form 
          action="/users/<%= friend._id %>/sendMessageF" 
          method="POST"
        >
          <textarea name="content" id="" cols="30" rows="2"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
