<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Owner</th>
      <th>Length</th>
      <th>Fish Name</th>
      <th>Avatar</th>
      <th>Date</th>
      <th>Comments</th>
      <th></th>
      <th></th>
    </tr>
    <% fish.forEach(fishData => { %>
        <tr>
          <th><%= fishData.owner.name %> caught</th>
          <th><%= fishData.length %>"</th>
          <th><%= fishData.name %></th>
          <th><img src="<%= fishData.species.avatar %>" alt="" style="height:100px;"></th>
          <th>at <%= fishData.caughtDate.toISOString().slice(0, 10) %></th>
          <th>
            <% if(fishData.comments?.length) {%>
              <% fishData.comments.forEach(comment => { %>
                  <p>
                    <%= comment.from %> says:
                    <%= comment.content %>
                  </p>
                  <form 
                    action="users/<%= fishData._id %>/<%= comment._id %>/deleteComment?_method=DELETE "
                    method="post"
                  >
                  <button type="submit"> X </button>
                  </form>
              <% }) %>
            <% } %>
          </th>
          <form action="/fish/<%= fishData._id %>/addComment" method="POST">
            <th><textarea name="content" id="" cols="30" rows="1"></textarea></th>
            <th><button type="submit">Add Comment</button></th>
          </form>
        </tr>
    <% }) %> 
  </table>
</main>

<%- include('../partials/footer') %>
