<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section class="data">
    <div class="card" style="width: 18rem;">
      <img src="<%= fishData.species.avatar %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          Caught <%= fishData.length %>" <%= fishData.name %> at 
          <%= fishData.caughtDate.toISOString().slice(0, 10) %>
        </h5>
      </div>
      <div>
        <% if(fishData.comments?.length) {%>
          <% fishData.comments.forEach(comment => { %>
              <p>
                <%= comment.from %> says:
                <%= comment.content %>
              </p>
              <% if(myProfile.comments.length) {%>
                <% for(let i = 0; i< myProfile.comments.length; i++) { %>
                  <% if(myProfile.comments[i].equals(comment._id)) {%>
                    <form 
                      action="/fish/<%= fishData._id %>/<%= comment._id %>/deleteComment?_method=DELETE"
                      method="post"
                    >
                    <button type="submit"> X </button>
                    </form> 
                  <% break} %> 
                <% } %>
              <% } %> 
          <% }) %>
        <% } %>
      </div>
      <div>
        <form action="/fish/<%= fishData._id %>/addComment" method="POST">
          <th><textarea name="content" id="" cols="30" rows="1"></textarea></th>
          <th><button type="submit">Add Comment</button></th>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
